#mainContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 35% 1fr;
    background-color: rgb(52, 52, 52);

    #settings{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        #pawnPromotion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #promotionTitle{
                font-size: 1.5rem;
                font-weight: 500;
                color: white;
            }
        }

        #options{            
            aspect-ratio: 1/1;
            height: 240px;
            border-radius: 10px;
            padding: 1rem;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background: rgb(28, 28, 28);
    
            ol{
                margin-bottom: .5rem;
            }
    
            input{
                margin-bottom: .5rem;
                padding: .5rem;
            }
    
            .buttons{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
    
                .btn{
                    cursor: pointer;
                    border: 1px solid white;
                    padding: .25rem 1rem;
                }
            }
    
        }
    }

    #boardContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        
        #board{
            position: relative;
            height: 640px;
            aspect-ratio: 1/1;
        
            .square{
                position: absolute;
                height: 80px;
                aspect-ratio: 1/1;
                cursor: pointer;

                .label{
                    position: absolute;

                    &.top-left{
                        top: 2px;
                        left: 4px;
                    }

                    &.bottom-right{
                        bottom: 2px;
                        right: 8px;
                    }
                }

                .moveCircle, img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                .moveCircle{
                    height: 25%;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.75);
                }
            }

            &.rotate{
                transform: rotateZ(180deg);

                .square{
                    .label {
                        transform: rotateZ(180deg);
                    }

                    img {
                        transform: translate(-50%, -50%) rotateZ(180deg);
                    }
                }
            }
        }
    }
}